* {
  box-sizing: border-box;
}

body {
  background-color: #fafafb;
  font-family: Poppins, sans-serif;
  height: 100vh;
  max-height: 100%;
}

#root {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  max-height: 100%;
}
