.progress {
  background-color: #f2f2f2;
  border-radius: 8px;
  height: 6px;
  max-width: 100%;
  width: 340px;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(185.714%);
  }

  100% {
    transform: translateX(0%);
  }
}

.progress__color {
  animation: 2s ease-in 0 slide;
  animation-iteration-count: infinite;
  background-color: #2f80ed;
  border-radius: 8px;
  height: 6px;
  width: 35%;
}

.uploading__title {
  text-align: left;
}
